@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-ExtraBold.eot');
  src: url('../fonts/ProximaNova-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-ExtraBold.woff') format('woff'),
      url('../fonts/ProximaNova-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-SemiBold.eot');
  src: url('../fonts/ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-SemiBold.woff') format('woff'),
      url('../fonts/ProximaNova-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
